In [1]:
from zero_ts_demo.imports import *

/home/zero/zero-ts-demo-data/LD2011_2014.txt

,mt_001,mt_002,mt_003,mt_004,mt_005,mt_006,mt_007,mt_008,mt_009,mt_010,...,mt_361,mt_362,mt_363,mt_364,mt_365,mt_366,mt_367,mt_368,mt_369,mt_370
date,,,,,,,,,,,,,,,,,,,,,
2011-01-03 02:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-03 14:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-07 07:45:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-07 17:45:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-08 15:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-24 08:15:00,0.000000,24.182077,1.737619,95.528455,43.902439,148.809524,2.261164,286.195286,61.188811,35.483871,...,149.179158,13500.0,827.004219,1500.000000,27.379400,3.510825,369.622476,143.572621,764.662757,7891.891892
2014-12-25 00:00:00,2.538071,19.914651,1.737619,160.569106,89.024390,261.904762,5.087620,269.360269,59.440559,60.215054,...,224.839400,16100.0,1426.160338,977.272727,95.176010,4.095963,698.858648,110.183639,694.281525,6810.810811
2014-12-26 09:30:00,6.345178,28.449502,0.868810,128.048780,63.414634,184.523810,5.087620,303.030303,92.657343,44.086022,...,212.705211,21600.0,1337.552743,2068.181818,109.517601,2.925688,601.404741,153.589316,848.240469,13891.891892
2014-12-29 03:00:00,2.538071,16.358464,1.737619,111.788618,64.634146,160.714286,4.522329,212.121212,52.447552,41.935484,...,63.526053,11700.0,755.274262,931.818182,23.468057,4.095963,524.143986,46.744574,680.351906,18162.162162
2014-12-31 06:15:00,2.538071,18.492176,1.737619,101.626016,69.512195,163.690476,5.087620,212.121212,48.951049,47.311828,...,115.631692,10000.0,869.198312,1181.818182,24.771838,8.191925,390.693591,120.200334,742.668622,16054.054054

In [12]:
df['Unnamed: 0']

0         2011-01-01 00:15:00
1         2011-01-01 00:30:00
2         2011-01-01 00:45:00
3         2011-01-01 01:00:00
4         2011-01-01 01:15:00
                 ...
140251    2014-12-31 23:00:00
140252    2014-12-31 23:15:00
140253    2014-12-31 23:30:00
140254    2014-12-31 23:45:00
140255    2015-01-01 00:00:00
Name: Unnamed: 0, Length: 140256, dtype: object

0         2011-01-01 00:15:00
1         2011-01-01 00:30:00
2         2011-01-01 00:45:00
3         2011-01-01 01:00:00
4         2011-01-01 01:15:00
                 ...
140251    2014-12-31 23:00:00
140252    2014-12-31 23:15:00
140253    2014-12-31 23:30:00
140254    2014-12-31 23:45:00
140255    2015-01-01 00:00:00
Name: Unnamed: 0, Length: 140256, dtype: object